@model List<AnonymousForum.Models.Thread>

<h1>Threads</h1>
<a asp-action="Create" asp-controller="Thread" asp-route-topicId="@ViewBag.TopicId">Create New Thread</a>

@if (Model.Any())
{
    <ul>
        @foreach (var thread in Model)
        {
            <li><a asp-action="Details" asp-controller="Thread" asp-route-id="@thread.Id">@thread.Title</a></li>
        }
    </ul>
}
else
{
    <p>No threads found.</p>
}
