@model List<AnonymousForum.Models.Thread>

<h1>Threads</h1>

@if (Model.Any())
{
    <ul>
        @foreach (var thread in Model)
        {
            <li>@thread.Title</li>
        }
    </ul>
}
else
{
    <p>No threads found.</p>
}
